<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="/public/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/public/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/public/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/public/css/flaticon.css">
    <link rel="stylesheet" href="/public/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/public/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/userprofile.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


    <!--::header part start::-->

    <%-include('include/_header')%>

    <!-- Header part end-->


    <div class="container emp-profile ">

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-6">
                <div class="profile-head">

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">

                    <a href="">Details</a><br /><br />
                    <a href="">Address</a><br /><br />
                    <a href="">Orders</a><br /><br />
            


                </div>
            </div>

            <div class="container col-md-8 ms-sm-auto col-lg- px-md-">
                
                    
                        <div class="card cascading-right"
                            style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                            <div class="card-body   text-center">
                                <h2 class="fw-bold ">Add New Address</h2>
                                <form action="/addressAdded" method="post" >

                                   

                                    <div class="form-outline mt-3">
                                        <label class="form-label" for="form3Example1">
                                           Address</label><br>
                                        <input type="text" id="form3Example1" name="address" value=""
                                            class="form-control" />

                                    </div>

                                    <div class="form-outline mt-3">
                                        <label class="form-label" for="form3Example1">
                                            City</label><br>
                                        <input type="text" id="form3Example1" name="city" value=""
                                            class="form-control"  />

                                    </div>

                                    <div class="form-outline mt-3">
                                        <label class="form-label" for="form3Example1">
                                            District</label><br>
                                        <input type="text" id="form3Example1" name="district" value=""
                                            class="form-control"  />

                                    </div>

                                    <div class="form-outline mt-3">
                                        <label class="form-label" for="form3Example1">
                                            State</label><br>
                                        <input type="text" id="form3Example1" name="state" value=""
                                            class="form-control"  />

                                    </div>

                                    <div class="form-outline mt-3">
                                        <label class="form-label" for="form3Example1">
                                            Pincode</label><br>
                                        <input type="text" id="form3Example1" name="pincode" value=""
                                            class="form-control"  />

                                    </div>



                                



                                  

                                    <!-- Submit button -->
                                   
                                    <div class="form-outline mt-3">
                                        <button type="submit" class="btn btn-primary btn-block mb-4">
                                            Submit
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>



    </div>



 <!--::footer_part start::-->
 <footer class="footer_part">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4 class="" style="color:#6c757d;">REACH US AT</h4>
            <ul class="list-unstyled " style="color: #6c757d;">
              <li>HILITE BUSINESS PARK</li>
              <li>G1003, NH 66</li>
              <li>Kozhikode Bypass</li>
              <li>Poovangal, Kozhikode</li>
              <li>Kerala 673014</li>
         
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4 class="" style="color:#6c757d;">OUR STORES AT</h4>
            <ul class="list-unstyled " style="color: #6c757d;">
              <li>BANGALORE</li>
              <li>MUMBAI</li>
              <li>HYDERABAD</li>
              <li>KOCHI</li>
              
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4 class="" style="color:#6c757d;">FEATURES</h4>
            <ul class="list-unstyled " style="color: #6c757d;">
              <li>JOBS</li>
              <li>BRAND ASSETS</li>
              <li>INVESTOR RELATIONS</li>
              <li>TERMS AND SERVICE</li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-lg-2">
          <div class="single_footer_part">
            <h4>Resources</h4>
            <ul class="list-unstyled">
              <li><a href="">Guides</a></li>
              <li><a href="">Research</a></li>
              <li><a href="">Experts</a></li>
              <li><a href="">Agencies</a></li>
            </ul>
          </div>
        </div> -->
        <!-- <div class="col-sm-6 col-lg-4">
          <div class="single_footer_part">
            <h4>Newsletter</h4>
            <p>Heaven fruitful doesn't over lesser in days. Appear creeping
            </p>
            <div id="mc_embed_signup">
              <form target="_blank"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="subscribe_form relative mail_part">
                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                  class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = ' Email Address '">
                <button type="submit" name="submit" id="newsletter-submit"
                  class="email_icon newsletter-submit button-contactForm">subscribe</button>
                <div class="mt-10 info"></div>
              </form>
            </div>
          </div>
        </div> -->
      </div>

    </div>
    <div class="copyright_part">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="copyright_text">
              <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer_icon social_icon">
              <ul class="list-unstyled">
                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/public/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/public/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/public/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/public/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/public/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/public/js/slick.min.js"></script>
    <script src="/public/js/jquery.counterup.min.js"></script>
    <script src="/public/js/waypoints.min.js"></script>
    <script src="/public/js/contact.js"></script>
    <script src="/public/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/js/jquery.form.js"></script>
    <script src="/public/js/jquery.validate.min.js"></script>
    <script src="/public/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/public/js/custom.js"></script>
</body>

</html>